<div class="container-fluid analysis col-md-11">
  <div class="row">
    <div class="col-md-6">
      <div class="card text-dark bg-light border-success mb-3">
        <div class="card-header">
           <strong>Bar-Chart Representation of Sentiment Analysis of #{{keyword}}</strong>
          </div>
        <div class="card-body">
        <canvas
            baseChart
            [chartType]="'bar'"
            [datasets] ="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="true"
            [colors]="pieChartColor"
            (chartClick)="onChartClicked($event)"
            (chartHover)="onChartHovered($event)">
          </canvas>
          </div>
        </div>
        </div>
    <div class="col-md-6">
      <div class="card text-dark bg-light border-success mb-3 ">
        <div class="card-header">
          <strong>Pie-Chart Representation of Sentiment Analysis of #{{keyword}}</strong>
        </div>
        <div class="card-body">
            <canvas
              baseChart
              [chartType]="pieChartType"
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [options]="pieChartOptions"
              [legend]="true"
              [colors]="pieChartColor"
              (chartClick)="onChartClicked($event)"
              (chartHover)="onChartHovered($event)">
            </canvas>
        </div>
      </div>
    </div>
  </div>


<h2>Related Tweets: </h2>
<div class="container-fluid">
<div class="row">
  <div *ngFor="let each of tweets" class="col-sm-6">
    <div class="card text-white bg-dark mb-4">
      <div class="card-header card-title">
        <img class="card-img-overlay"  src="{{each.profileimg}}" alt="Avatar image" style="height: 90px; width: 90px; float: left;">
        <p style="font-size: 1vw; float: right;" class="font-weight-bold text-white ">Twitter UserName: @{{each.screenname}}</p>
      </div>
      <div class="card-body">
        <h5 class="card-text "><strong>Name:</strong> {{each.username}}</h5>
        <p>Tweet: {{each.tweet}}</p>
      </div>
      <div class="card-footer">
        <p><strong>Polarity: {{each.score}}</strong></p>
        <p *ngIf="each.score > 0"><strong><button type="button" class="btn font-weight-bold btn-outline-success btn-block btn-lg text-uppercase" style="color: white;">{{each.sentiment}}</button></strong></p>
        <p *ngIf="each.score < 0"><strong><button type="button" class="btn font-weight-bold btn-outline-danger btn-block btn-lg text-uppercase" style="color: white;">{{each.sentiment}}</button></strong></p>
        <p *ngIf="each.score == 0"><strong><button type="button" class="btn font-weight-bold btn-outline-secondary btn-block btn-lg text-uppercase" style="color: white;">{{each.sentiment}}</button></strong></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
