$color_1: #eeeeee;
$color_2: #fff;
$color_3: rgba(255, 255, 255, 0.5);
$color_4: #eee;
$font_family_1: sans-serif;
$background_color_1: royalblue;
$background_color_2: steelblue;

.homepage {
  margin: 0;
  padding: 0;
  background-image: url('https://www.kdnuggets.com/images/sentiment-fig-1-689.jpg');
  background-size: cover;
  font-family: $font_family_1;
}
.searchBox {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 565px;
  height: 150px;
  padding: 40px 20px 30px 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 1, 0.8);
  input {
    width: 100%;
    margin-bottom: 20px;
  }
  input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: $color_2;
    font-size: 16px;
  }
  button{
    border: none;
    outline: none;
    height: 45px;
    color: $color_4;
    font-size: 18px;
    background-color: $background_color_1;
    align-self: center;
    margin-left: 200px;
    cursor:pointer;
    border-radius: 10px;
    &:hover {
      background-color: $background_color_2;
      color: $color_2;
    }
  }
  a {
    color: $color_2;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
}
h4 {
  margin: 0;
  padding: 0 0 26px;
  color: $color_1;
  text-align: center;
}
::placeholder {
  color: $color_3;
}

